<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="webfinger" enabled="true">
                    <match url="\.well-known/webfinger(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="discovery.php{R:1}" appendQueryString="true"/>
                </rule>
                <rule name="openid-configuration" enabled="true">
                    <match url="\.well-known/openid-configuration(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="discovery.php" appendQueryString="true"/>
                </rule>
                <!-- <rule name="info" enabled="true">
                    <match url="\.well-known/info.*$" ignoreCase="false" />
                    <action type="Rewrite" url="info.php" appendQueryString="true"/>
                </rule> -->
            </rules>
        </rewrite>
        <staticContent>
            <remove fileExtension=".svg" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
            <mimeMap fileExtension=".js.min" mimeType="text/javascript" />
            <mimeMap fileExtension=".jwk" mimeType="application/jwk+json" />
        </staticContent>
    </system.webServer>
</configuration>